@charset "UTF-8";
@font-face {
	font-family: "events-pixellove";
	src: url("../fonts/events-pixellove/events-pixellove.eot");
	src: url("../fonts/events-pixellove/events-pixellove.svg#events-pixellove") format("svg"),  url("../fonts/events-pixellove/events-pixellove.woff") format("woff"),  url("../fonts/events-pixellove/events-pixellove.ttf") format("truetype"),  url("../fonts/events-pixellove/events-pixellove.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal;
}
[data-icon]:before {
	font-family: "events-pixellove" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class^="gk-icon-"]:before,
[class*=" gk-icon-"]:before {
	font-family: "events-pixellove" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.gk-icon-calendar:before { content: "a"; }
.gk-icon-calendar-solid:before { content: "b"; }
.gk-icon-clock:before { content: "c"; }
.gk-icon-clock-solid:before { content: "d"; }
.gk-icon-fb:before { content: "e"; }
.gk-icon-gplus:before { content: "f"; }
.gk-icon-id:before { content: "g"; }
.gk-icon-id-solid:before { content: "h"; }
.gk-icon-linkedin:before { content: "i"; }
.gk-icon-minus:before { content: "j"; }
.gk-icon-minus-solid:before { content: "k"; }
.gk-icon-plus:before { content: "l"; }
.gk-icon-plus-solid:before { content: "m"; }
.gk-icon-rss:before { content: "n"; }
.gk-icon-timer:before { content: "o"; }
.gk-icon-timer-solid:before { content: "p"; }
.gk-icon-twitter:before { content: "q"; }
.gk-icon-vimeo:before { content: "r"; }
.gk-icon-youtube:before { content: "s"; }