

 /*** GRAY'S CUSTOM ADDITIONS ***/

body {
	background: url('images/daze_interiorpage_color_faded_bg_2016.jpg') no-repeat top center;
	background-color: #000;
	color: #FFF;
}

body.page-id-1669 {
	background-image: none;	
	background-color: #000;
	color: #FFF;
}


#gk-bg {
	background: transparent;
}

#gk-header-nav #gk-logo.gk-small-logo,
#gk-header-nav #gk-logo {
  width: 480px;
}

.homepage_news h3.gk-nsp-header {
	font-size: 25px;
	padding-bottom: 10px;
	text-align: left;
}

.gk-nsp-art.gk-nsp-cols-3 {
	padding-left: 20px !important;
	box-sizing: border-box;
}

.gk-nsp-art.gk-nsp-cols-3:first-child {
	padding-left: 0 !important;
}


.homepage_news .gk-nsp-info a {
	display: none;
}


/* Event & ARTIST SIDEBAR STYLING**/


.artist_sidebar {
	border: 4px solid rgba(0, 0, 0, 0.2);
	padding: 15px 20px;
	margin-bottom: 1rem;
	background: rgba(0,0,0,.3);
}

.artist_sidebar a {
	color: $link_color;
/*	&:hover {
		color: $purple;
	}*/
}

/*.artist_sidebar h3 {
	padding-top: 2em;
}*/

.extra-fields dt {
clear: both;
}

.extra-fields dd button {
	margin-bottom: 1rem;
}
