body.home {

	#gk-header-nav.active {
		top: 32px;
		border-bottom: rgba(0,0,0,.25) solid 10px;
		height: 84px;
	}
	h3.frontpage_block_title {
		color: $pale_yellow !important;
		text-shadow: 2px 2px 1px #111;
	}

	.gk-subtitle {
		color: #FFF;
	}
}


.frontpage-block {
	background: url('images/bg_texture2.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	padding: 7em 0 !important;
		a {
		color: $pale_yellow;
		text-shadow: 2px 2px 1px #111;
	}


/****** ############### REMOVE AFTER DEBUGGGING ############*/
	b {
		color: red;
	}
}


#gk-header-mod {
	background-size: cover;
	border-bottom: solid rgba(0,0,0,0.5) 20px;

	.homescreen_logo img {
		margin-top: -210px;
		position: relative;
		top: -161px;
	}

	.homescreen_artists {
		max-width: 530px;
	}

	h1, h2, p.gk-desc {
		color: $pale_yellow !important;
		text-shadow: 2px 2px 1px #111;
		}

	 h1 {
		font-size: 40px;
		margin-bottom: 12px !important;
	 }

	h2 {
		font-size: 31px;
		text-transform: uppercase;
		padding-bottom: 1em;
	}
}

@media only screen and (min-width: 1024px) {
	#gk-header-mod {
		.homescreen_artists {
			max-width: 40.5vw;
		}
	}
}

@media only screen and (max-width: 599px) {
	#gk-header-mod {
		.homescreen_artists {
			max-width: 100%;
		}
	}
}


h3.frontpage_block_title {
	font-weight: 800;
}

/******** NEWS **********/

.homepage_news {
	h3.gk-nsp-header a {
		color: $pale_yellow;
		&:hover {
			color: $anchor_hover;
		}		
	}
	.gk-nsp-info, .gk-nsp-text {
		color: #FFF;
	}
	a.readon.btn {
		text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	}
}

/***** VENUES SECTION ***/

div#venues.frontpage-block {
	img {
		max-height: 100px;
		width: auto;
		margin: 0 auto;
		display: flex;
	}

}
/* legacy code from the full width section....

	padding-top: 0 !important;
	h3 {
		display: none;

		&.venue_title_overlay {
			display: block !important;
			position: absolute;
			top: 5rem;
			left: 0;
			width: 100%;
			height: 40px;
		}
	}

	.frontpage-block-wrap {
		max-width: 100%;
		position: relative;
	}
}

#mapsengine-box-outer {overflow: hidden;}
#mapsengine-box-inner {
    overflow: hidden;
    //height:500px;
	position: relative;
	top: -40px;
}

#mapsengine {
	margin: -30px 0 0 -350px;
}
*/

/*** SPEAKERS/artists SECTION ***/

.gk-speakers {
	h3 {
		font-size: 32px;
		line-height: 1.2;
		font-family: 'interstate condensed';
		font-weight: 800;
		small {
			font-family: Ubuntu, arial, helvetica, sans-serif;
			font-weight: 400;
			font-weight: normal;
			color: #FFF;
		}
	}
	a:hover:after {
		text-shadow:none;
	}
	figure > a {
		box-shadow: 2px 2px 1px rgba(0,0,0,.2);

	}
}

.gk-speakers img, .speakers-listing .entry-thumbnail img {
	border: solid rgba(250, 245, 166, 0.25) 4px;
}

.gk-speakers > figure > a, .speakers-listing .entry-thumbnail a {
	margin: 0 auto 10px auto;
}



div#artists.frontpage-block {
/*	background: url('images/bg_texture2.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;*/

	a {
		color: $pale_yellow;
		text-shadow: 2px 2px 1px #111;
		&:hover {
			color:$anchor_hover;
		}
	}
}

.gk-speakers > figure > a:after, .speakers-listing .entry-thumbnail a:after {
	content: "\f00e";
	font-family: 'FontAwesome';
}

/***** SHOWS SECTION *******/

.gk-agenda-event-info {
	h3 {
		font-size: 20px;
		font-family: 'interstate', 'interstate condensed';
		font-weight: 100;
		margin-bottom: 8px;

		a:active,
		a:focus,
		a:hover {
	  		color: $primary;
		}
	}


	> div > div {
		padding: 12px 22px 0 22px;
	}
	small {
		color: #fff;
		font-size: 14px;
		margin: 4px 0px 0 0;
	}
}
/* PARTNERS */
.partner_logos {
	margin: 2em auto 0;
	display: table;
	img {
		/*max-width: 200px;
		margin: 0 20px;*/
		margin: 0 auto;
		display: block;		
		&:hover {
			opacity:.9;
		}
	}
}
