
div#venues.frontpage-block {
	padding-top: 0;

	h3 {
		display: none;
	}

	.frontpage-block-wrap {
		max-width: 100%;
		position: relative;
	}
}

#mapsengine-box-outer {overflow: hidden;}
#mapsengine-box-inner {
    overflow: hidden;
    //height:500px;
	position: relative;
	top: -40px;
}

#mapsengine {
	margin: -30px 0 0 -350px;
}

h3.venue_title_overlay {
	display: block;
	position: absolute;
	top: 2rem;
	left: 0;
	width: 100%;
	height: 40px;
}