h3.frontpage_block_title {
	font-weight: 800;
}

div#venues.frontpage-block {
	padding-top: 0 !important;

	h3 {
		display: none;
		&.venue_title_overlay {
			display: block !important;
			position: absolute;
			top: 5rem;
			left: 0;
			width: 100%;
			height: 40px;
		}
	}

	.frontpage-block-wrap {
		max-width: 100%;
		position: relative;
	}
}

#mapsengine-box-outer {overflow: hidden;}
#mapsengine-box-inner {
    overflow: hidden;
    //height:500px;
	position: relative;
	top: -40px;
}

#mapsengine {
	margin: -30px 0 0 -350px;
}

/*** SPEAKERS SECTION ***/

.gk-speakers h3 {
	font-size: 32px;
	line-height: 1.2;
	font-family: 'interstate condensed';
	font-weight: 800;
	small {
		font-family: 'interstate condensed';
		font-weight: 400;
		font-weight: normal;
	}
}

.gk-speakers > figure > a, .speakers-listing .entry-thumbnail a {
	margin: 0 auto 10px auto;
}


/***** SHOWS SECTION *******/

.gk-agenda-event-info {
	h3 {
		font-size: 20px;
		font-family: 'interstate', 'interstate condensed';
		font-weight: 100;
		margin-bottom: 8px;
	}
	> div > div {
		padding: 12px 22px 0 22px;
	}
	small {
		color: #fff;
		font-size: 14px;
		margin: 4px 0px 0 0;
	}
}


