@media only screen and (max-width: 640px) {
	.entry-social-sharing {
		display: none !important;
	}
	.speaker-page .entry-thumbnail {
		margin: 0 auto;
	}

	article h2.entry-title {
		font-size: 3rem !important;
		small {
			font-size: 1.5rem;
			font-weight: normal;
		}
	}

	#gk-header-mod { /*the mobile view of the first screen */
		background-attachment: scroll;
		background-position: center top;
		
		h1 {
			font-size: 26px;
			margin: 10px 0 !important;
		}
	}

	.frontpage-block {
		background: url("images/frontpage_bg_mobile.jpg") repeat center center; /*different bg for mobile*/
		background-size: inherit;
		background-attachment: fixed;
	}

	.speaker-page .entry-meta,
	.sponsor-page .entry-meta,
	.listing-item .entry-meta {
		display: block;
		width: 100%;
	}

	#gk-header-nav.static.active #gk-logo {
		top: 0;
		transform: scale(0.5);
		height: 53px;
	}
}

@media only screen and (min-width: 641px) and (max-width: 1025px) {
	#gk-header-nav.static #gk-logo {
		top: 0px;
		transform: scale(.8);
	}
}
