@media only screen and (max-width: 640px) {
	.entry-social-sharing {
		display: none !important;
	}
	.speaker-page .entry-thumbnail {
		margin: 0 auto;
	}

	article h2.entry-title {
		font-size: 3rem !important;
		small {
			font-size: 1.5rem;
			font-weight: normal;
		}
	}

	.speaker-page .entry-meta,
	.sponsor-page .entry-meta,
	.listing-item .entry-meta {
		display: block;
		width: 100%;
	}

}