/*gray's personal responsive rules*/
@media only screen and (max-width: 640px) {

	body #gk-header-nav.static #gk-logo,
	body #gk-header-nav.static.active #gk-logo {
	    max-height: 40px;
	    width: 240px;
	    margin-left: 10px;
	}

	body.home.frontpage {

		#gk-header-nav.active {
			top: 0;
			height: 54px;
	    	top: inherit;
    		border-bottom: rgba(0, 0, 0, 0.25) solid 5px;			


			#gk-logo, #gk-logo-css, #gk-logo-css-big {
				top: -5px;
				max-height: 54px;
			    width: 280px;
			    margin-left: 0;				

				img {
					height: auto;
					width: initial;
				}
			}
		}
		#gk-footer {
			border-top: rgba(0, 0, 0, 0.25) solid 10px;
		}
	}

	.entry-social-sharing {
		display: none !important;
	}
	.speaker-page .entry-thumbnail {
		margin: 0 auto;
	}

	article h2.entry-title {
		font-size: 3rem !important;
		small {
			font-size: 1.5rem;
			font-weight: normal;
		}
	}

	#gk-header-mod { /*the mobile view of the first screen */
		background-attachment: scroll;
		background-position: center top;

		h1 {
			font-size: 26px;
			margin: 10px 0 !important;
		}
	}

	.frontpage-block {
/*		background: url("images/frontpage_bg_mobile.jpg") repeat center center; different bg for mobile
		background-size: inherit;
		background-attachment: fixed;
		padding: 3em 0 !important;
*/		h3.frontpage_block_title {
			font-size: 3em;
		}
	}
	.page-template-template-event .entry-meta,
	.speaker-page .entry-meta,
	.sponsor-page .entry-meta,
	.listing-item .entry-meta {
		display: block;
		width: 100%;
	}

	#gk-header-nav {
		/*interior navigation header*/
		#gk-logo, &.active #gk-logo, &.static #gk-logo, &.static.active #gk-logo  {
			max-height: 40px;
			width: 125px;
			left: 0;
			margin-left: 0;
			top: 0;
		}
	}

	#gk-footer {
		background-repeat: repeat;
		background-size: initial;
	}

}

@media only screen and (min-width: 641px) and (max-width: 1025px) {
	#gk-header-nav.static #gk-logo {
		top: 0px;
		transform: scale(.8);
	}

	#gk-header-mod { /*the mobile view of the first screen */
		background-attachment: scroll;
		background-position: center top;
	}

/* different bg for mobile
	.frontpage-block {
		background: url("images/frontpage_bg_mobile.jpg") repeat center center; 
		background-size: inherit;
		background-attachment: fixed;
	}
*/	
	#gk-footer {
		background-repeat: repeat;
		background-size: initial;
	}
}
