#gk-header-nav {
/*	background: url('images/nav_bg2.jpg') repeat #1e2553;*/
	background: transparent;
	&.active {
		/*background: rgba(5,22,70,.3);*/
		background: url('images/header_texture_bw.jpg') repeat #000;
	}

	#gk-logo.gk-small-logo, #gk-logo {
		height: 70px;
		line-height: 73px;
		margin-top: 0;
		width: 225px;
	}
	&.static {
		#gk-logo {
			top: 11px;
/*			margin-left: -110px;
*/		    left: initial;
		    margin-left: auto;
		    float: inherit;			
			transform: scale(1);
			&:hover {
				top:15px;
				transform: scale(1.05);
			}
		}
		&.active #gk-logo {
			top: 0;
			margin-left: 0;
			transform: scale(.85);
			float: left;

		}		
	}

	.nav-menu li a {
		color: $nav_color;

		&:hover {
			color: $primary;
		}
	}
}

.home #gk-header-nav .nav-menu .current-menu-item a {
	color: $nav_color;

	&:hover {
		color: $primary;
	}
}

#aside-menu-toggler {
	color: $nav_color;
}