body {

	a {
		color: darken(saturate($primary, 40%), 20%);
	}

	a.readon.btn, button, .readon, input[type="submit"], input[type="button"], input[type="reset"] {
		border-bottom: 4px solid darken($primary, 20%);
	}

	a.readon.btn:hover {
		border-bottom: 4px solid darken($primary, 40%);
	}

	.nav-menu > li > a, .nav-menu > ul > li > a {
		font-family: 'interstate';
 		font-weight: 400;
	}
}

