body {
	label {
		color: $body_color;
	}

	a {
		color: $link_color;
		&:hover {
			color: lighten($link_color, 20%);
		}
	}

	a.readon.btn,
	button,
	.readon,
	input[type="submit"],
	input[type="button"],
	input[type="reset"] {
		border: 1px solid darken($button_color, 20%);
		border-bottom: 4px solid darken($button_color, 8%);
		background: $button_color;

	}

	a.readon.btn:hover {
		border-bottom: 4px solid #04070B;
	}

	.nav-menu > li > a, .nav-menu > ul > li > a {
		font-family: 'interstate';
 		font-weight: 400;
	}

	i { //ensure that this is used for icons, rather than italics
		font-style: normal;
	}

	h3.gk-nsp-header {
		font-family: interstate;
		font-weight: 600;
		padding-top: 3px;
	}

	h2.entry-title {
		font-size: 4rem;
		small {
			font-size: 1.5rem;
			font-weight: normal;
		}
	}

	.entry-content ul li, .entry-summary ul li {
		margin-bottom: 10px;
	}

	button, a {
		.centered {
			text-align: center;
			margin: 0 auto;
			display: table;
		}
	}

	.extra-fields dt {
		color: $primary;
		text-shadow: 1px 1px 0 darken($header_color, 50%);		
	}


	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	a.inverse {
		color: $header_color;
		text-shadow: 1px 1px 0 darken($header_color, 50%);
	}

	a.inverse {
		&:hover {
			color: $header_color;
		}
		small {
			color: lighten($header_color, 15%);
			text-shadow: 1px 1px 0 darken(lighten($header_color, 15%), 50%);			
		}
	}

	[class^="fa-"]:before,
	[class*=" fa-"]:before {
		font-family: "FontAwesome" !important;
		font-style: normal !important;
		font-weight: normal !important;
		font-variant: normal !important;
		text-transform: none !important;
		speak: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}