
$orange: #da6319;
$red: #ff0000;
$header_font: 'interstate condensed';
$nav_color:#FFFFFF;
$body_color: #FFF;
$primary: $red;
$primary_darker: darken($primary, 15%);
$header_color: $primary;
$link_color: #E8C44E;
$anchor_hover: saturate(lighten($primary, 25%), 25%);
$purple: #051646;
$button_color: saturate(darken($link_color, 10%), 10%);
